.jumboTitle {
  @apply font-semibold text-2xl sm:text-4xl xl:text-5xl;
}

.jumboSubTitle {
  @apply font-semibold text-2xl md:text-3xl;
  font-family: "Raleway";
}

.title {
  @apply font-semibold text-xl md:text-2xl;
}

.subTitle {
  @apply font-medium text-sm md:text-base tracking-wide;
  font-family: "Raleway";
}

.p {
  @apply font-medium text-xs sm:text-sm tracking-wide;
  font-family: "Raleway";
}

.error {
  @apply font-medium text-xs text-red-800 mt-1;
  font-family: "Raleway";
}
